Host desktop
    Hostname desktop
    User nickc

Host desktop-wsl
    Hostname desktop-wsl
    User nick

Host laptop
    Hostname laptop
    User nick

Host laptop-wsl
    Hostname laptop-wsl
    User nickc

Host steamdeck
    Hostname steamdeck
    User deck

Host server
    Hostname server
    User nick
