[user]
	name = Nick Conway
	email = nconway@fornetix.com

[init]
	defaultBranch = main

[merge]
	tool = "nvim"

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[pull]
	rebase = false
