env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_TYPE,wayland
env = XDG_SESSION_DESKTOP,Hyprland

env = QT_QPA_PLATFORM,wayland;xcb
env = QT_QPA_PLATFORMTHEME,qt5ct
env = QT_WAYLAND_DISABLE_WINDOWDECORATION,1
env = QT_AUTO_SCREEN_SCALE_FACTOR,1
env = QT_STYLE_OVERRIDE,kvantum

env = ELECTRON_OZONE_PLATFORM_HINT,auto

env = PATH, $HOME/.local/bin:$HOME/.cargo/bin:$PATH

env = TESSDATA_PREFIX, $HOME/.local/share/tessdata

env = BITWARDEN_SSH_AUTH_SOCK, $XDG_RUNTIME_DIR/bitwarden.sock

env = XCURSOR_SIZE,18
env = HYPRCURSOR_THEME,BreezeX-Dark-hyprcursor
env = HYPRCURSOR_SIZE,18
env = GTK2_RC_FILES,~/.config/gtk-2.0/gtkrc-2.0

{% if yadm.hostname == "desktop" %}
env = LIBVA_DRIVER_NAME,nvidia
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = NVD_BACKEND,direct

cursor {
    no_hardware_cursors = true
    enable_hyprcursor = true
    sync_gsettings_theme = true
}

opengl {
    nvidia_anti_flicker = true
}
{% endif %}
