@import url("../../.cache/wal/colors-waybar.css");
@import url("./notifications.css");

.control-center {
  background: alpha(@color8, 0.4);
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  color: @color3;
  opacity: 0.7;
}
