@import url("../../.cache/wal/colors-waybar.css");
@import url("./notifications.css");

.control-center {
  background: transparent;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.1;
}
