@import url("../../.cache/wal/colors-waybar.css");
@import url("./notifications.css");

* {
  color: @foreground;
  font-family: "NotoSans Nerd Font Propo 10";
  font-weight: 400;
  transition: 200ms;
}

.blank-window {
  background: transparent;
}

.control-center {
  background: alpha(@color0, 0.4);
  border: 1px solid @color3;
  padding: 12px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  color: @color3;
  opacity: 0.7;
}

.widget-title button {
  background: transparent;
  border: 1px solid @color3;
}

.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @background;
  border-radius: 8px;
  border: 1px solid @color3;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @color3;
}

.widget-dnd > switch:checked {
  background: alpha(@color3, 0.5);
}

.widget-dnd > switch:checked:hover {
  background: @color3;
}

.widget-dnd > switch slider {
  background: alpha(@color3, 0.4);
  border-radius: 6px;
}

.widget-buttons-grid {
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: alpha(@color3, 0.5);
}

.widget-backlight {
  background: transparent;
}

.widget-volume {
  background: transparent;
}

trough {
  background: alpha(@color3, 0.2);
  border-radius: 20px;
}

trough highlight {
  background: @color3;
  border-radius: 20px;
}

trough slider {
  padding: 3px;
  background: @color3;
}
