disableStartupPopups: true
git:
  branchLogCmd: git log --graph --color=always --abbrev-commit --date=short --pretty=format:'%Cred%h -%C(auto)%d%Creset %s %C(bold)%Cgreen(%cd) %Cblue(%an)%Creset' {{branchName}}
  commitPrefix:
    - pattern: "^(\\S+)\\/(\\S+).*"
      replace: "$1: "
  pagers:
    - pager: delta --paging=never
  parseEmoji: true
  allBranchesLogCmds:
    - git log --graph --color=always --abbrev-commit --date=short --pretty=format:'%Cred%h -%C(auto)%d%Creset %s %C(bold)%Cgreen(%cd) %Cblue(%an)%Creset' --all
gui:
  nerdFontsVersion: 3
  statusPanelView: allBranchesLog
notARepository: "quit"
os:
  editPreset: "nvim-remote"
promptToReturnFromSubprocess: false
