monitor = DP-3, preferred, 0x0,        1.2, bitdepth, 10
monitor = DP-2, preferred, auto-left,  1.2, bitdepth, 10
monitor = DP-1, preferred, auto-right, 1.2, bitdepth, 10
