monitor = DP-1, preferred, 0x0,        1.25, bitdepth, 10, cm, hdr, sdrbrightness, 1.4, sdrsaturation, 1.2
monitor = DP-2, preferred, auto-left,  1.25, bitdepth, 10, cm, hdr, sdrbrightness, 1.4, sdrsaturation, 1.2
monitor = DP-3, preferred, auto-right, 1.25, bitdepth, 10, cm, hdr, sdrbrightness, 1.4, sdrsaturation, 1.2
