bind = $mainMod, B, focuswindow, chrome
bind = $mainMod, T, focuswindow, kitty
bind = $mainMod, D, focuswindow, discord
bind = $mainMod, M, focuswindow, thunderbird
bind = $mainMod, F, focuswindow, feishin

workspace = 1, monitor:DP-3, default:true
workspace = 2, monitor:DP-1, default:true
workspace = 3, monitor:DP-2, default:true

exec-once = [workspace 1] flatpak run com.google.Chrome
exec-once = [workspace 2] kitty
exec-once = [workspace 2] flatpak run com.discordapp.Discord
exec-once = [workspace 2] thunderbird-beta
exec-once = [workspace 3] feishin --ozone-platform-hint=auto
exec-once = [workspace 3] flatpak run --command=/app/bin/chrome com.google.Chrome --profile-directory=Default --app-id=hpfldicfbfomlpcikngkocigghgafkph
exec-once = [workspace 3] flatpak run app.bluebubbles.BlueBubbles
