export FULL_NAME='Name'
export EMAIL='name@example.com'

export NOTES_DIR="$HOME/Documents/Notes"
export REMOTE_EMUDECK_DIR="/mnt/DIR/Emulation"
export WALLPAPER_DIR="$HOME/Pictures/Wallpapers/PC"
export MUSIC_DIR="$HOME/Music"
