"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = false

continuation_prompt = "[▶▶](bold purple)"

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"
vimcmd_symbol = "[➜](bold purple)"
vimcmd_replace_one_symbol = "[](bold yellow)"
vimcmd_replace_symbol = "[](bold yellow)"
vimcmd_visual_symbol = "[󰒅](bold red)"

[direnv]
disabled = false
symbol = '󰓴 '

[container]
disabled = true

[git_status]
format = "([$all_status$ahead_behind]($style) )"
style = "bold red"
stashed = "≡"

[custom.yadm]
when="! git rev-parse --is-inside-work-tree && yadm user-config && [[ \"$PWD\" == \"$(cd $(yadm user-config -d); git config get core.worktree)\"* ]]"
command="(cd $(yadm user-config -d) && echo -ne ' ' && starship module git_branch && starship module git_commit && starship module git_state && starship module git_metrics && starship module git_status)"

[custom.asciinema]
when="[[ -n $ASCIINEMA_REC ]]"
command="echo ⏺"
style='bold red'
format='([$symbol($output)]($style) )'

[username]
detect_env_vars = ['SSH_CONNECTION']

[kubernetes]
disabled = false
detect_env_vars = ['KUBECONFIG']

[aws]
symbol = '☁️ '
