@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');

:root {
    --activity-card-background: transparent;
    --background-color: transparent;
    --background-secondary: rgba(0,0,0,0.15);
    --background-modifier-hover: rgba(255,255,255,0.05);
    --popout-image: var(--background-image);
    --popout-image-blur: 5px;
    --popout-image-size: cover;
    --popout-image-position: center;
    --overlay-image: var(--background-image);
    --overlay-image-blur: 5px;
    --overlay-image-size: cover;
    --overlay-image-position: center;
    --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
    --home-button-size: cover;
    --home-button-position: center;
    --serverlist-brightness: 0;
    --left-brightness: 0;
    --middle-brightness: 0;
    --right-brightness: 0;
    --overlay-brightness: 0.85;
    --gradient-primary: {color2.rgb};
    --gradient-secondary: {color3.rgb};
    --link-colour: {color3};
    --scrollbar-colour: rgba(255,255,255,0.05);
    --gradient-direction: 320deg;
    --tint-colour: 255,51,159;
    --tint-brightness: 0;
    --font: gg sans;
    --window-padding: 0px;
    --window-roundness: 0px;
    --update-notice-1: none;
    --mention-background: {background};
    --mention-foreground: {color3};
}

body, .bg__960e4, .layers__960e4, .appMount__51fd7, .app__160d8, .tabBody__133bf {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
